<!DOCTYPE html>
<html>
    <head>
        <title>xxx</title>
    </head>
    <body>
        get 방식
        <div>
            <% for(let i = 0; i < obj.list.length; i++){ %>
            <p><a href='./download?download=<%= obj.list[i] %>'><%= obj.list[i] %></a></p>
            <% } %>
        </div><br/>
        ajax post방식
        <div class="list" id="list"></div>
    </body>
    <script src="/javascripts/util.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/javascripts/file/search_dir.js"></script>
</html>