<!DOCTYPE html>
<html>
  <head>
    <title>파일 업로드</title>
  </head>
  <body>
      <form id="form" enctype="multipart/form-data">
          <input type="file" name="userfile" id="userfile">
          <input type="text" name="u" id="u">
          <button type="button" onclick="upload()">제출</button>
      </form>
      <div class="list" id="list"></div>
  </body>
  <script src="/javascripts/util.js"></script>
  <script src="/javascripts/file/upload.js"></script>
  <script src="/js/axios.min.js"></script>
  <script src="/javascripts/file/search_dir.js"></script>
</html>
