<!DOCTYPE html>
<html>
  <head>
    <title>공지사항</title>

    <link href="../../resume/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../../resume/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="../../resume/css/resume.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/uploadfile_input.css"></link>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">

  </head>
  <body>
      <form id="form" onsubmit="return subclose()" enctype="multipart/form-data">
          <h3>공지사항</h3>
          <div>
            <input type="text" name="title" id="title" placeholder="제목" class="notice_input" value="<%= obj !== undefined ? obj.title : '' %>">
          </div>
          <div>
            <textarea name="content" id="content" cols="30" rows="10" placeholder="내용"><%= obj !== undefined ? obj.content : '' %></textarea>
          </div>
          <div id = "customfile" class="filebox">
          </div>
          <div>
            <button type="button" onclick="createNotice('create')">생성</button>
          </div>
        </form>
  </body>

  <!-- Bootstrap core JavaScript -->
  <script src="../../resume/vendor/jquery/jquery.min.js"></script>
  <script src="../../resume/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../../resume/vendor/jquery-easing/jquery.easing.min.js"></script>
  

  <!-- include summernote css/js-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

  <script>
    $(document).ready(function() {
      $('#content').summernote('insertText', '');
    });
  </script>
  <script src = '/javascripts/summer_notice.js'></script>
  
  <script> var modify_file =[]; </script>
  <script src = '/javascripts/util.js'></script>
  <script src = '/js/axios.min.js'></script>
  <script src = '/javascripts/notice_edit.js'></script>
</html>