<ul>
    <li>
        <a href='./main'>메인</a><br/>
    </li>
    <li>
        <a href='./sign-up-class'>수강신청</a><br/>
    </li>
    <li>
        <a href='./check-class'>수강조회</a><br/>
    </li>
    <li>
        <a href='./exam'>시험보기</a><br/>
    </li>
    <li>
        <a href='./check-grade'>성적조회</a><br/>
    </li>
    <li>
        <a href='./rating-class'>강의평가</a><br/>
    </li>
    <li>
        <a href='../user/logout'>로그아웃</a><br/>
    </li>
</ul>