<a href='./main'>메인</a><br/>
<a href='./sign-up-class'>수강신청</a><br/>
<a href='./check-class'>수강조회</a><br/>
<a href='./exam'>시험보기</a><br/>
<a href='./check-grade'>성적조회</a><br/>
<a href='./rating-class'>강의평가</a><br/>