<!DOCTYPE html>
<html>
  <head include-ejs="script.ejs">
    <title><%= obj.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
        body > nav, body > section {
            float: left;
            height : 200px;
        }
        .users{
            float: left;
        }
        nav{
            background: lightgreen;
        }
        header{
            background: lightblue;
        }
        section{
            background: lightpink;
        }
        section > article:nth-child(1){
            background: lightsalmon;
        }
        section > article:nth-child(2){
            background: lightcoral;
        }
        section > article:nth-child(3){
            background: lightcyan;
        }
    </style>
    <% include ./script %>
  </head>
  <body>
        <nav include-ejs="nav.ejs">
            <% include ./nav %>
        </nav>
        <section>
            <header>
                공백 및 타이틀
            </header>
            <section>
                <article include-ejs="../notice/notice_board.ejs">
                    <% include ../notice/notice_board %>
                </article>
            </section>
        </section>
  </body>
</html>
