<!DOCTYPE html>
<html>
  <head>
    <title><%= obj !== undefined ? obj.title : '' %></title>
  </head>
  <body>
      <form id="form">
          <h1><%= obj !== undefined ? obj.title : '' %></h1>
          <div>
            <input type="password" name="password" id="password" placeholder="신규 비밀번호">
          </div>
          <div>
            <input type="password" name="password_check" id="password_check" placeholder="신규 비밀번호 확인">
          </div>
          <div>
            <button type="button" onclick="change_pw()">PW 변경하기</button>
          </div>
        </form>
  </body>
  <script src="../javascripts/util.js"></script>
  <script src="../js/axios.min.js"></script>
  <script src="../javascripts/users/change_pw.js"></script>
  <script>
  </script>
</html>