<!DOCTYPE html>
<html>
  <head>
      <title><%= obj.title !== undefined ? obj.title : '' %></title>
  </head>
  <body>
    <form id="form">
      <h1><%= obj !== undefined ? obj.title : '' %></h1>
      <div>
        <input type="text" name="l_id" id="l_id" placeholder="ID">
      </div>
      <div>
        <input type="text" name="l_name" id="l_name" placeholder="이름">
      </div>
      <div>
        <input type="password" name="password" id="password" placeholder="비밀번호">
      </div>
      <div>
        <input type="email" name="email" id="email" placeholder="이메일">
        <span>
          <button type="button" onclick="send_email('sign_up')" name="u_email_btn">이메일 인증</button>
        </span>
      </div>
      <div>
        <button type="button" onclick="sign_up()">회원가입</button>
      </div>
    </form>
  </body>
  <script src="../js/axios.min.js"></script>
  <script src="../javascripts/util.js"></script>
  <script src="../javascripts/email/email.js"></script>
  <script src="../javascripts/users/sign_up.js"></script>
  <script>
  </script>
</html>
