<!DOCTYPE html>
<html>
  <head>
      <title><%= obj.title !== undefined ? obj.title : '' %></title>
  </head>
  <body>
    <form id="form">
      <h1><%= obj !== undefined ? obj.title : '' %></h1>
      <div>
        <input type="text" name="u_id" id="u_id" placeholder="ID">
        <span>
          <button type="button" onclick="" name="u_id_btn">ID 중복 검사(예정)</button>
        </span>
      </div>
      <div>
        <input type="text" name="u_name" id="u_name" placeholder="이름">
      </div>
      <div>
        <input type="password" name="password" id="password" placeholder="비밀번호">
      </div>
      <div>
        <input type="email" name="email" id="email" placeholder="이메일">
      </div>
      <div>
        <button type="button" onclick="sign_up()">회원가입</button>
      </div>
    </form>
  </body>
  <script src="../js/axios.min.js"></script>
  <script src="../javascripts/util.js"></script>
  <script src="../javascripts/users/sign_up.js"></script>
  <script>
  </script>
</html>
