<!DOCTYPE html>
<html>
  <head>
    <title>공지사항</title>
    <link rel="stylesheet" href="/stylesheets/uploadfile_input.css"></link>
  </head>
  <body>
      <form id="form" onsubmit="return subclose()" enctype="multipart/form-data">
          <h1>공지사항</h1>
          <div>
            <input type="text" name="title" id="title" placeholder="제목" value="<%= obj !== undefined ? obj.title : '' %>">
          </div>
          <div>
            <textarea name="content" id="content" cols="30" rows="10" placeholder="내용"><%= obj !== undefined ? obj.content : '' %></textarea>
          </div>
          <div id = "customfile" class="filebox">
          </div>
          <div>
            <button type="button" onclick="createNotice('create')">생성</button>
          </div>
        </form>
  </body>
  <script> var modify_file =[]; </script>
  <script src = '/javascripts/util.js'></script>
  <script src = '/js/axios.min.js'></script>
  <script src = '/javascripts/notice_edit.js'></script>
</html>