<!DOCTYPE html>
<html>
  <head>
    <title>공지사항</title>
    <link rel="stylesheet" href="../stylesheets/uploadfile_input.css"></link>
  </head>
  <body>
      <form id="form" onsubmit="return subclose()">
          <h1>공지사항</h1>
          <div>
            <input type="text" name="title" id="title" placeholder="제목" value="<%= obj !== undefined ? obj.title : '' %>">
          </div>
          <div>
            <textarea name="content" id="content" cols="30" rows="10" placeholder="내용"><%= obj !== undefined ? obj.content : '' %></textarea>
          </div>
          <div id = "customfile" class="filebox">
          </div>
          <div>
            <button type="button" onclick="createNotice('update')">수정</button>
          </div>
          <div id = "change_file"></div>
        </form>
  </body>
    <script>
      var modify_file = [];
      <% if(obj.filepath.length !== 0) { %>
        modify_file = <%- JSON.stringify(obj.filepath) %>
      <% } %>
    </script>
  <script src = '../javascripts/util.js'></script>
  <script src = '../js/axios.min.js'></script>
  <script src = '../javascripts/notice_edit.js'></script>
  <script src = '../javascripts/uploadfile_modify.js'></script>
  <% if(obj.filepath.length !== 0) { %>
    <script>
      <% for(var i = 0; i < obj.filepath.length; i++) { %>
        createInputFile();
      <% } %>
    </script>
  <% } %>
</html>